<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<a th:replace="fragments/common :: header"></a><!--헤더 프래그먼트 사용-->
<body>
<a th:replace="fragments/common :: navbar('free')"></a><!--네비바 프래그먼트 사용-->

<style>
html {
  height: 100%;
}

body {
  height: 100%;

  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;

  background-color: #3a3a3a;
}

#main-holder {
  width: 85%;
  height: 98%;
  display: grid;

  background-color: white;
  border-radius: 7px;
  box-shadow: 0px 0px 5px 2px black;
}
h2{
    text-align:center;
}
td,th,tr{
    vertical-align : middle;
    text-align:center;
}
.titleUser{
    width:10%;
}
</style>
<main id="main-holder">
    <div class="container">
        <div class ="row">
            <table class="table table-hover" style="text-align:center;border:1px solid #dddddd">
                <h2>자유 게시판</h2>
                <p th:if="${freeBoard.user.username == currentUser}">
                    <button type="submit" value="삭제" class="btn btn-dark" th:onclick='|location.href="@{/menu/board/free-delete?(id=${freeBoard.id})}"|' style="float:right">글삭제</button>
                    <button type="submit" value="수정" class="btn btn-dark" th:onclick='|location.href="@{/menu/board/free-modify/{id}(id=${freeBoard.id})}"|' style="float:right">글수정</button>
                </p>
                <tr class="table-dark">
                    <td>
                        <h1 th:text="${freeBoard.title}">제목</h1>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p th:text="${freeBoard.user.username}">작성자</p>
                    </td>
                </tr>
                <tr class="table-dark">
                    <td>
                        <p th:text="${freeBoard.content}">내용 들어갈 부분입니다.</p></td>
                </tr>
            </table>
        </div>
    </div>
    <span th:if="${not #strings.isEmpty(currentUser)}">
    <span th:if="${heartCheck==1}">
    <a type="button" th:href="@{/menu/board/free-heart/{id}(id=${freeBoard.id})}"><img src="../../../img/heart.png" alt=""></a>
    </span>
<span th:if="${heartCheck==0}">
    <a type="button" th:href="@{/menu/board/free-heart/{id}(id=${freeBoard.id})}"><img src="../../../img/emptyHeart.png" alt=""></a>
    </span>
    <span>좋아요:</span><span th:text="${#lists.size(heartCount)}"></span>
    <form th:action="@{/menu/board/free-view}" th:object="${comment}" method="get">
    <input type="hidden" th:field="*{id}">
    <input  type="text" id="content" th:field="*{content}" th:errorclass="error-input" class="form-control" >
    <div class="d-block invalid-feedback" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">제목내용메시지</div>
    <button id="submit" type="submit"class="btn btn-dark"style="float: right;" disabled>댓글</button>
</form>
</span>
    <span th:unless="${not #strings.isEmpty(currentUser)}">
<a type="button" onclick="location.href='http://localhost:8080/account/login'"><img src="../../../img/emptyHeart.png" alt=""></a>
<span>좋아요:</span><span th:text="${#lists.size(heartCount)}"></span>
<div><input type="text"placeholder="좋아요 댓글은 로그인후 이용가능 합니다." class="form-control" onclick="location.href='http://localhost:8080/account/login'"></div>
</span>
    <script type="text/javascript" src="/js/button.js"></script>
    <table class ="table thead-dark"  style="text-align:center;" border="1px" >
        <tr class="table-dark">
            <th class="titleUser" scope="col">작성자</th>
            <th scope="col">내용</th>
        </tr>
        <tr th:each="Comment: ${commentList}" >
            <td th:text="${Comment.user.username}"></td>
            <td>
                <a th:text="${Comment.content}"></a>
                <span th:if="${Comment.user.username == currentUser}">
                    <button id="CommentDelete" type="submit" class="btn btn-dark" th:onclick='|location.href="@{/menu/board/comment-delete?(id=${Comment.id})}"|' style="float: right;">댓글삭제</button>
                </span>
            </td>
        </tr>
    </table>
</main>
<a th:replace="fragments/common :: footer"></a><!--푸터 프래그먼트 사용-->

</body>
</html>