<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<a th:replace="fragments/common :: header"></a><!--헤더 프래그먼트 사용-->
<body>
<a th:replace="fragments/common :: positionNavbar('arm')"></a><!-- 포지션 네비바 프래그먼트 사용-->
<a th:replace="fragments/common :: navbar('position')"></a><!--네비바 프래그먼트 사용-->
<style>
.legFitness{
position: relative;
  top:-100px;
}
.py-5{
  position: relative;
  top:-50px;
}
.hrStyle{
 position: relative;
  top:-100px;
}
    body {

  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  justify-items: center;
  align-items: center;
  background-color: #3a3a3a;
}
  #main-holder {
  width: 80%;
  position: relative;
  left:170px;
  top:80px;

  justify-items: center;
  align-items: center;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0px 0px 5px 2px black;
}
</style>
<main id="main-holder">

    <th:block>
        <section class="py-5">
            <h1 style="text-align:center;">Arm TOP four</h1>
            <div class="container px-4 px-lg-5 mt-5">

                <div class="row gx-1 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <!-- 나누는기준점-->

                    <div class="col mb-5" th:each="GymPosition, i : ${gymArmHeartList} "id="hover">

                        <a th:href="@{/menu/gym-position/gym-view(id=${GymPosition.id})}">
                            <div class="card h-70">
                                <!-- Sale badge-->
                                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">TOP<span th:text="${i.count}"></span></div>
                                <!-- Product video-->
                                <video class="card-img-top" th:src="|/menu/gym-position/video/${GymPosition.id}|" th:poster="|/menu/gym-position/image/${GymPosition.id}|"  alt="..." /></video>
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product title-->
                                        <h5 class="fw-bolder" th:text="${GymPosition.title}">제목</h5>
                                        <span>좋아요:</span><span th:text="${GymPosition.gymHeartCount}"></span>
                                        <span>조회수:</span><span th:text="${GymPosition.gymViewCount}"></span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!--기준점 끝-->
                </div>
            </div>
        </section>
    </th:block>
    <hr class="hrStyle">
    <th:block>
        <div class="legFitness">
            <section class="py-5">
                <h1 style="text-align:center;">Arm Fitness</h1>
                <div class="container px-4 px-lg-5 mt-5">
                    <div class="row gx-1 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                        <!-- 나누는기준점-->
                        <div class="col mb-5" th:each="GymPosition, i : ${gymLegList} "id="hover2">
                            <a th:href="@{/menu/gym-position/gym-view(id=${GymPosition.id})}">
                                <div class="card h-70">
                                    <!-- Product video-->
                                    <video class="card-img-top" th:src="|/menu/gym-position/video/${GymPosition.id}|" th:poster="|/menu/gym-position/image/${GymPosition.id}|" alt="..." /></video>
                                    <!-- Product details-->
                                    <div class="card-body p-4">
                                        <div class="text-center">
                                            <!-- Product title-->
                                            <h5 class="fw-bolder" th:text="${GymPosition.title}">제목</h5>
                                            <span>좋아요:</span><span th:text="${GymPosition.gymHeartCount}"></span>
                                            <span>조회수:</span><span th:text="${GymPosition.gymViewCount}"></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!--기준점 끝-->
                    </div>
                </div>
            </section>
        </div>
    </th:block>
    <hr class="hrStyle">
    <p style="text-align:center; position: relative; top:-100px;">아아아 여기에 출처</p>
</main>
<a th:replace="fragments/common :: footer"></a><!--푸터 프래그먼트 사용-->
</body>
</html>