<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<a th:replace="fragments/common :: header"></a><!--헤더 프래그먼트 사용-->

<body>
<a th:replace="fragments/common :: positionNavbar(${gymPosition.position})"></a><!-- 포지션 네비바 프래그먼트 사용-->
<a th:replace="fragments/common :: navbar('position')"></a><!--네비바 프래그먼트 사용-->
<style>
.quick_pos { position: relative; top:0px; min-width: 1300x; width: 100%; }
.quick_pos .quick { position: absolute; top: 100px; left: 50%; z-index: 60; margin-left: 500px; }
.quick_pos .quick.fixed { position: fixed; }
.a
{
	height:10px;
}
 .mainVideo video{max-width:100%;}
 @media (max-width: 1770px) {

  .quick {
    display: none;
  }
}
.title{
    max-width:100%;
    text-align:center;
}
  </style>
<a th:replace="fragments/common :: navbar('position')"></a><!--네비바 프래그먼트 사용-->

<div class="quick_pos" aria-hidden="true">
    <ul class="quick">
        <th:black>
        <span th:each="GymPosition : ${gymHeartList} ">
        <span th:if="${GymPosition.id != gymPosition.id}" >
        <div class="card mb-4" style="width:95%;" >
            <a th:href="@{/menu/gym-position/gym-view(id=${GymPosition.id})}" id="hover">
            <div class="row g-0">
                <div class="col-md-5">
                    <img th:src="|/menu/gym-position/image/${GymPosition.id}|" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <p class="card-text"><span th:text="${GymPosition.title}"></span></p>
                        <span class="card-text"><small class="text-muted"><span th:text="${GymPosition.position}"></span></small></span>
                        <span class="card-text"><small class="text-muted">좋아요:<span th:text="${GymPosition.gymHeartCount}"></span></small></span>
                    </div>
                </div>
            </div>
            </a>
        </div>
        </span>
        </span>
        </th:black>
    </ul>
</div>

<br></br><br></br><br></br>

<div class="title" style="position: absolute; left: 100px; top: 160px;">
    <h1><span th:text="${gymPosition.title}"></span></h1>
</div>

<div class="mainVideo"style="position: absolute; left: 50px; top: 210px;">
    <br>
    <br>
    <video controls  th:src="|/menu/gym-position/video/${gymPosition.id}|" th:poster="|/menu/gym-position/image/${gymPosition.id}|" width="1350" height="700"></video>
    <br>
    <span th:text="${gymPosition.content}"></span>
    <span th:text="${gymPosition.method}"></span>
    <span th:text="${gymPosition.effect}"></span>
    <span th:text="${gymPosition.notes}"></span>
    <br>
    <span th:if="${not #strings.isEmpty(currentUser)}">
         <span th:if="${gymHeartCheck==1}">
                <a type="button" th:href="@{/menu/gym-position/gym-heart/{id}(id=${gymPosition.id})}"><img src="../../../img/heart.png" alt=""></a>
         </span>
         <span th:if="${gymHeartCheck==0}">
                <a type="button" th:href="@{/menu/gym-position/gym-heart/{id}(id=${gymPosition.id})}"><img src="../../../img/emptyHeart.png" alt=""></a>
         </span>
                <span>좋아요:</span><span th:text="${#lists.size(gymHeartCount)}"></span>

        <a th:href="@{/menu/gym-position/gym-delete(id=${gymPosition.id})}"onclick="alert('글이 삭제 되었습니다.');">글삭제</a>

    <form th:action="@{/menu/gym-position/gym-view}" th:object="${gymComment}" method="get">
        <div>
            <input type="hidden" th:field="*{id}">
            <input  type="text" id="content" th:field="*{content}" th:errorclass="error-input" class="form-control" >
            <div class="d-block invalid-feedback" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">제목내용메시지</div>
            <button id="submit" type="submit"class="btn btn-primary"style="float: right;" disabled>댓글</button>
        </div>
    </form>
</span>
    <span th:unless="${not #strings.isEmpty(currentUser)}">
<a type="button" onclick="location.href='http://localhost:8080/account/login'"><img src="../../../img/emptyHeart.png" alt=""></a>
<span>좋아요:</span><span th:text="${#lists.size(gymHeartCount)}"></span>
<div><input type="text"placeholder="좋아요 댓글은 로그인후 이용가능 합니다." class="form-control" onclick="location.href='http://localhost:8080/account/login'"></div>
</span>

    <table class ="table table-striped" style="text-align: center;"border="1px" >
        <tr th:each="GymComment: ${gymCommentList}"style="background-color: #eeeeee; text-align: center;">
            <td th:text="${GymComment.user.username}"style="background-color: #eeeeee; text-align: left;"></td>
            <td><a th:text="${GymComment.content}" style="background-color: #eeeeee; text-align: center;"></a></td>
            <span th:if="${GymComment.user.username == currentUser}">
       <td><a th:href="@{/menu/gym-position/gymComment-delete?(id=${GymComment.id})}">댓글삭제</a></td>
        </span>
            <span th:if="${GymComment.user.username != currentUser}">
       <td></td>
        </span>
        </tr>
    </table>

    <script type="text/javascript" src="/js/button.js"></script>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>